<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
 <%- include('./partials/head') %>
<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include("./partials/headerLogueado",{usuario: locals.user}) %>
	<% } else { %>
		<%- include("./partials/header") %>
	<% } %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner"></div>
	
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">PRODUCTOS</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% if (products && products.length > 0) { %>
				<% for (let i = 0; i < products.length; i++) { %>
					<div class="col-12 col-sm-6 col-lg-3">
						<section class="product-box">
							<a href="/products/detalle/<%= products[i].id %>">
								<figure class="product-box_image">
									<!-- suponiendo que guardás imagenes en /public/imgs -->
									<img src="<%= products[i].imagen %>" alt="<%= products[i].nombre %>">
								</figure>
								<article class="product-box_data">
									<h2>Nombre: <%= products[i].nombre %></h2>
									<p>Descripcion: <%= products[i].descripcion %></p>
									<p>Comentarios: <%= products[i].comentarios.length%> </p>
								</article>
							</a>
						</section>
					</div>
				<% }; %>
			<% } else { %>
				<div class="col-12">
					<p>No hay productos cargados.</p>
				</div>
			<% } %>

		</div>
	</div>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>	
</html>