<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<%- include("./partials/headerLogueado") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<!-- Show the "ultimos" products -->
			 <% if (productos.length==0){%>
				<p>No hay productos para esa busqueda</p>
			 <% } %>
			<% for( let i = 0; i < productos.length; i++ ) { %>
				<article class="product-box resultado">
					<img src="<%= productos[i].imagen %>" alt="<%= productos[i].nombre %>">
					<h2>Nombre: <%= productos[i].nombre %></h2>
					<p>Descripcion: <%= productos[i].descripcion %></p>
					<p>Comentarios: <%= productos[i].comentarios.length %></p>
				</article>
			<% } %>
		</div>
	</div>
			

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>